@charset "utf8";
/*
   This file contains the layout settings used by the first page. The layout concept 
	is based on the floating system.
	
	Author: Ibing Maharlika
   Date: 10/10/24
*/

html {
	height: 100%;		
}

body {     
	height: 100vh; /* Full height of the viewport. */
	min-height:100%; /*set minimum height to match browser window full height.*/
	max-width: 1024px;
   min-width: 640px;   
	width:95%;	
 }

body > header > img {	
	width: 100%;	
	height: auto; /*Maintain image aspect ratio.*/
}

/*Set width for each navigation button to 20% of body width.*/
body > header > nav.horizontalNavigation li { 
	width:20%; 	
}

/*Display setting for the main body part*/
#about-section {
	display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;	
}

/*Columns section, left is for image, right is for text.*/
#leftColumn  {	
	flex:1;
	width: 40%;		
}

#leftColumn img {
	width:100%;	
	box-shadow:rgb(51,51,51) -15px 0px 25px;
}

#rightColumn {		
	flex:1;	
}

#rightColumn p {
	padding-top:1em;	
}

/* Footer section is displayed in flexbox layout.*/
footer {		
	display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;			
}

#contactInfo  {
	flex:1;
}

footer > nav.verticalNavigation {
	flex: 1;		
}

footer > nav.verticalNavigation li {
	text-align:left;	
}

footer > nav.verticalNavigation img {
	 display:inline;
 }
#gotoButton {
	flex: 1;	
}

/*Layout setting for the go-to-button - now is the Contact Me button.*/
.btn.goto {	
	padding: 0.5em 1.5em;	
	cursor: pointer;
	display: inline-block;
	border-radius:30px;
	width: 5em;	
}

#copyRight {
	flex-basis: 100%;	/*This will make it fill the next row by itself.*/
	padding-left:3em;	
}

@media only screen and (max-width: 640px){
	#about-section {
		flex-direction: column; /* Stack the columns vertically on smaller screens */
		align-items: center; /* Center-align the content when stacked */
	}
	#leftColumn img {
		display: none;
	}
	
	#rightColumn {
		flex: none;
		display: 100%;		
	}
	
	footer {
		flex-direction: row;		
	}
	
	#gotoButton {
		flex-basis: 100%;		
	}
}

@media only screen and (min-width: 641px) {
    header nav ul {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-justify-content: center;
      justify-content: center;
   }
   
   header nav ul li {
      -webkit-flex: 0 1 auto;
      flex: 0 1 auto;
   }
}