@charset "utf8";


form#cOrder {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

form#cOrder {
	/*background-color: rgb(241, 232, 181);*/
	boder-radius: 20px;
	-webkit-flex: 1 1 300px;
	flex: 1 1 300px;
	
	padding: 10px;
	margin: 0 0 0 14em;
	
}

div.formRow {
	display:-webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	margin: 7px 0px;
}

div.formRow > * {
	-webkit-flex: 1 1 150px;
	flex: 1 1 150px;
}

div.formRow > select,
div.formRow > input {	
	height: 20px;
	
	font-family:'Roboto', san-serif;
	color: rgb(0, 0,0);
	font-size: 1em;	
	
	max-width: 250px;	
}
div.formRow select#occupation {
	
	height: 25px;
	font-size: 0.9em;
}
/* Legend Styles */
legend {
	
	padding:5px;
}
#contactMeCB {
	display: flex;
	padding-top: 1em;
	justify-content:right;
	

}


/* Text Area Styles */
/*textarea {*/
#commBox {
	flex-basis: 100%;
	margin-top: 10px;
	height: 100px;
	width: 100%;
	resize: none;
}


/* Spinner Styles *//*
div.formRow > input#dineSpin {
	-webkit-flex:0 0 50px;
	flex: 0 0 50px;
}*/


/* Form Button Styles */
div#buttons {
	text-align:center;
	width: 100%;
}

input[type='submit'], input[type='reset'] {
	font-size: 1.2em;
	padding: 5px;
	margin: 15px;
}
#charCaption {
   font-size: 0.7em;   /* Smaller text */
   color: grey;        /* Optional: grey color for the caption */
   
}
#gotoButton {
	visibility: hidden;
}
/* Validation Styles */
input:focus, select:focus, textarea:focus {
	background-color: rgb(220, 255, 220);
}

input#fName:focus:valid,
input#lName:focus:valid,
input#poscode:focus:valid, 
input#phone:focus:valid,
input#mail:focus:valid {
	background: rgb(220,255, 220) url(rb_valid.png) bottom right/contain no-repeat;
}

input#fName:focus:invalid,
input#lName:focus:invalid,
input#poscode:focus:invalid, 
input#phone:focus:invalid,
input#mail:focus:invalid {
	background: rgb(225,232, 233) url(rb_invalid.png) bottom right/contain no-repeat;
}

@media only screen and (max-width: 640px) {
	form#cOrder {
		display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: column;
      flex-flow: column;
		flex-direction: column;
		max-width: 640px;
		width: 80%;
	
		padding: 10px;
		margin: 0 0 0 2em;	
	}

	div.formRow > select,
	div.formRow > input {	
		height: 30px;
		font-size: 1em;
		max-width: 250em;	
		padding: 0.1em 0;		
	}
	
	div.formRow select#occupation {
		flex-basis: 100%;
		height: 100%;	
		font-size: 1em;
	}
	input[type="checkbox"] {
   transform: scale(2); /* Increase size by 1.5 times */
   -webkit-transform: scale(2); /* For Safari compatibility */
   -moz-transform: scale(2); /* For older Firefox compatibility */
}
	form#contact label {
		padding: 0.5em 0 0.2em 0;
	}
}

@media only screen and (min-width: 641px) and (max-width: 960px) {
	form#cOrder {
		margin: 0 0 0 11em;	
	}
}