@charset "utf8";

/*
   This file contains the layout settings used by the web form page. The layout concept 
	is based on the flexbox system.
	
	Author: Ibing Maharlika
   Date: 10/10/24
*/


/*Set display for the form.*/
form#cOrder {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	boder-radius: 20px;
	-webkit-flex: 1 1 300px;
	flex: 1 1 300px;	
	padding: 10px;		
}

/*Set display for each form row.*/
div.formRow {
	display:-webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;	
}

div.formRow > * {
	-webkit-flex: 1 1 150px;
	flex: 1 1 150px;
}

div.formRow > select,
div.formRow > input {	
	height: 20px;		
	max-width: 250px;	
}

div.formRow select#occupation {	
	height: 25px;	
}

/* Legend Styles */
legend {	
	padding:5px;
}

/*Checkbox setting.*/
#contactMeCB {
	display: flex;
	padding-top: 1em;
	justify-content:right;
}

/* Text Area and Caption Styles */
#commBox {
	flex-basis: 100%;
	margin-top: 10px;
	height: 100px;
	width: 100%;
	resize: none;
}

#charCaption {
   font-size: 0.7em;   /* Smaller text */
   color: grey;        /* Optional: grey color for the caption */   
}

/* Form Button Styles */
div#buttons {
	text-align:center;
	width: 100%;
}

input[type='submit'], input[type='reset'] {
	font-size: 1.2em;
	padding: 5px;
	margin: 15px;
}

/*Hide the Contact Me button, as this is available only on the main page. */
#gotoButton {
	visibility: hidden;
}

/* Validation Styles */
input:focus, select:focus, textarea:focus {
	background-color: rgb(220, 255, 220);
}

input#fName:focus:valid,
input#lName:focus:valid,
input#poscode:focus:valid, 
input#phone:focus:valid,
input#mail:focus:valid {
	background: rgb(220,255, 220) url(rb_valid.png) bottom right/contain no-repeat;
}

input#fName:focus:invalid,
input#lName:focus:invalid,
input#poscode:focus:invalid, 
input#phone:focus:invalid,
input#mail:focus:invalid {
	background: rgb(225,232, 233) url(rb_invalid.png) bottom right/contain no-repeat;
}

@media only screen and (max-width: 640px) {
	form#cOrder {
		display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: column;
      flex-flow: column;
		flex-direction: column;
		max-width: 640px;
		width: 80%;	
		padding: 10px;			
	}

	div.formRow > select,
	div.formRow > input {	
		height: 30px;
		max-width: 250em;	
		padding: 0.1em 0;		
	}
	
	div.formRow select#occupation {
		flex-basis: 100%;
		height: 100%;			
	}
	
	/*This is to make the checkbox larger in the smaller screen. */
	input[type="checkbox"] {
		transform: scale(2); /* Increase size by 2 times */
		-webkit-transform: scale(2); 
		-moz-transform: scale(2);
	}
	
	form#contact label {
		padding: 0.5em 0 0.2em 0;
	}
}
